{% extends "customer.html.twig" %}

{% block body %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-12 mb-12">
                {{ form_row(form.type) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-12">
                {{ form_row(form.device) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-12">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-12">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}