{% extends "customer.html.twig" %}
{% trans_default_domain 'order' %}
{% block body %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ order.type|trans }}</h1>
    </div>

    <div class="row">
        <div class="col-md-9 mb-9">
            {{ order.description }}
        </div>
        <div class="col-md-3 mb-3">
            {% if order.assignee is not null %}
                <p>{% trans %}assignee{% endtrans %}: {{ order.assignee.fullName }}</p>
            {% endif %}
            <p>{% trans %}status{% endtrans %}: <span class="badge badge-status-{{ order.status }}">{{ order.status|trans }}</span></p>
            <p>{% trans %}device{% endtrans %}: {{ order.device.brand }} {{ order.device.model }} ({{ order.device.year }})</p>
            <p>{% trans %}reported{% endtrans %}: {{ order.createdAt|date("F jS \\a\\t g:ia") }}</p>
            <p>{% trans %}updated{% endtrans %}: {{ order.updatedAt|date("F jS \\a\\t g:ia") }}</p>
        </div>
    </div>
{% endblock %}