{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6 mb-6">
            {{ form_row(form.title) }}
            {{ form_row(form.device) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-12">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}