{% extends "employee.html.twig" %}
{% trans_default_domain 'order' %}

{% block body %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ order.type|trans }}</h1>
    </div>
    <div class="row">
        <div class="col-md-9 mb-9">
            <dl class="row">
                <dt class="col-sm-3">{% trans %}device{% endtrans %}</dt>
                <dd class="col-sm-9">{{ order.device.brand }} {{ order.device.model }} ({{ order.device.year }})</dd>

                <dt class="col-sm-3">{% trans %}reported{% endtrans %}</dt>
                <dd class="col-sm-9">{{ order.createdAt|date("F jS \\a\\t g:ia") }}
                    by {{ order.reporter.fullName }}</dd>

                <dt class="col-sm-3">{% trans %}updated{% endtrans %}</dt>
                <dd class="col-sm-9">{{ order.updatedAt|date("F jS \\a\\t g:ia") }}</dd>
            </dl>
            {% if order.description %}
                <p class="text-justify">{{ order.description }}</p>
            {% endif %}
        </div>
        <div class="col-md-3 mb-3">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="col-md-12 mb-12">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-12">
                    {{ form_row(form.assignee) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-12">
                    {{ form_row(form.save, {'attr': {'class': 'btn btn-primary btn-sm btn-block'}}) }}
                </div>
            </div>
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}