{% extends 'employee.html.twig' %}
{% trans_default_domain 'order' %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">{{ headTitle }}</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans %}type{% endtrans %}</th>
                <th>{% trans %}device{% endtrans %}</th>
                <th>{% trans %}status{% endtrans %}</th>
                <th>{% trans %}reporter{% endtrans %}</th>
                <th>{% trans %}assignee{% endtrans %}</th>
                <th>{% trans %}reported{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for o in orders %}
                <tr>
                    <td><a href="{{ path('employee_orders_edit', {id: o.id}) }}">{{ o.type|trans }}</a></td>
                    <td>{{ o.device.brand }} {{ o.device.model }} ({{ o.device.year }})</td>
                    <td><span class="badge badge-status-{{ o.status }}">{{ o.status|trans }}</span></td>
                    <td>{% if o.reporter is not null %}{{ o.reporter.fullName }}{% endif %}</td>
                    <td>{% if o.assignee is not null %}{{ o.assignee.fullName }}{% endif %}</td>
                    <td>{{ o.createdAt|date("F jS \\a\\t g:ia") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}