{% extends 'employee.html.twig' %}
{% trans_default_domain 'order' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Orders report</h1>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                {% for key, element in pivot[0] %}
                    <th>{{ key|trans }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in pivot %}
                <tr>
                    {% for value in row %}
                        <td>{{ value|trans }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}