<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/signin.css"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <title>{% block title %}Hardware clinic!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="text-center">
{% block body %}{% endblock %}
</body>
</html>
