{% trans_default_domain 'order' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <title>{% block title %}Hardware clinic!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Hardware clinic!</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ path('app_logout') }}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_index') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_all_orders') }}">Orders</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('employee_my_orders') }}">My orders</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Reports</span></h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_report', {'report': 'order_by_type'}) }}">Orders by type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_report', {'report': 'order_by_status'}) }}">Orders by status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_report', {'report': 'order_by_device'}) }}">Orders by device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_report', {'report': 'order_by_user'}) }}">Orders by user</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="d-flex flex-wrap flex-md-nowrap alert alert-{{ label }}">
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>